.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/
!**/src/test/resources/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Kotlin ###
.kotlin/
kotlin-js-store/

### Log files ###
*.log
logs/

### OS files ###
.DS_Store
Thumbs.db

### Корневые конфигурации среды (переменные окружения) ###
.env
.env.local
